<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>
    自动控制系统 - 控制配置
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport'/>
  <link href="../static/css/material-dashboard.css?v=2.1.0" rel="stylesheet"
        th:href="@{/css/material-dashboard.css}"/>
  <link href="../static/css/font.css" rel="stylesheet"
        th:href="@{/css/font.css}">
</head>

<body>
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white"
       data-image="../static/img/sidebar-2.jpg" th:data-image="@{/img/sidebar-2.jpg}">
    <div class="logo">
      <a href="https://www.jgsu.edu.cn/" target="_blank" class="simple-text logo-normal">
        井冈山大学 - 智慧农业系统
      </a>
    </div>
    <div th:replace="commons/bar::sidebar(key='config')"></div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav th:replace="commons/bar::navbar(key='config')"></nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">自动控制配置</h4>
                <p class="card-category">在此处配置要自动保持的状态范围</p>
              </div>
              <div class="card-body" th:object="${scheduleList}">
                <form th:action="@{/saveConfig}" id="configForm">
                  <div class="row">
                    <!-- 空气温度 -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>空气温度范围: </label>
                        <div id="airTemp" class="slider slider-warning noUi-target noUi-ltr noUi-horizontal"></div>
                        <input type="hidden" value="null" th:value="${scheduleList.get(0).getHigh()}" id="airTempHigh">
                        <input type="hidden" value="null" th:value="${scheduleList.get(0).getLow()}" id="airTempLow">
                        <input type="hidden" value="null" th:value="${scheduleList.get(0).getMax()}" id="airTempMax">
                        <input type="hidden" value="null" th:value="${scheduleList.get(0).getMin()}" id="airTempMin">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最低温度 ℃</label>
                              <input id="lowAirTemp" type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最高温度 ℃</label>
                              <input id="highAirTemp" type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 空气湿度 -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>空气湿度范围: </label>
                        <div id="airWater" class="slider slider-success noUi-target noUi-ltr noUi-horizontal"></div>
                        <input type="hidden" value="null" th:value="${scheduleList.get(1).getHigh()}" id="airWaterHigh">
                        <input type="hidden" value="null" th:value="${scheduleList.get(1).getLow()}" id="airWaterLow">
                        <input type="hidden" value="null" th:value="${scheduleList.get(1).getMax()}" id="airWaterMax">
                        <input type="hidden" value="null" th:value="${scheduleList.get(1).getMin()}" id="airWaterMin">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最低湿度 %</label>
                              <input id="lowAirWater" type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最高湿度 %</label>
                              <input id="highAirWater" type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 土壤温度1 -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>土壤温度1、3平均范围: </label>
                        <div id="earthTemp1" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal"></div>
                        <input type="hidden" value="null" th:value="${scheduleList.get(2).getHigh()}"
                               id="earthTemp1High">
                        <input type="hidden" value="null" th:value="${scheduleList.get(2).getLow()}" id="earthTemp1Low">
                        <input type="hidden" value="null" th:value="${scheduleList.get(2).getMax()}" id="earthTemp1Max">
                        <input type="hidden" value="null" th:value="${scheduleList.get(2).getMin()}" id="earthTemp1Min">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最低温度 ℃</label>
                              <input id="lowEarthTemp1" type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最高温度 ℃</label>
                              <input id="highEarthTemp1" type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 土壤水分1 -->
                    <!--<div class="col-md-3">-->
                    <!--  <div class="form-group">-->
                    <!--    <label>土壤水分1、2平均范围: </label>-->
                    <!--    <div id="earthWater1" class="slider slider-info noUi-target noUi-ltr noUi-horizontal"></div>-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(3).getHigh()}"-->
                    <!--           id="earthWater1High">-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(3).getLow()}"-->
                    <!--           id="earthWater1Low">-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(3).getMax()}"-->
                    <!--           id="earthWater1Max">-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(3).getMin()}"-->
                    <!--           id="earthWater1Min">-->
                    <!--    <div class="row">-->
                    <!--      <div class="col-md-6">-->
                    <!--        <div class="form-group">-->
                    <!--          <label>最低湿度 %</label>-->
                    <!--          <input id="lowEarthWater1" type="text" class="form-control">-->
                    <!--        </div>-->
                    <!--      </div>-->
                    <!--      <div class="col-md-6">-->
                    <!--        <div class="form-group">-->
                    <!--          <label>最高湿度 %</label>-->
                    <!--          <input id="highEarthWater1" type="text" class="form-control">-->
                    <!--        </div>-->
                    <!--      </div>-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!-- 土壤温度2 -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>土壤温度2、4平均范围: </label>
                        <div id="earthTemp2" class="slider slider-primary noUi-target noUi-ltr noUi-horizontal"></div>
                        <input type="hidden" value="null" th:value="${scheduleList.get(4).getHigh()}"
                               id="earthTemp2High">
                        <input type="hidden" value="null" th:value="${scheduleList.get(4).getLow()}" id="earthTemp2Low">
                        <input type="hidden" value="null" th:value="${scheduleList.get(4).getMax()}" id="earthTemp2Max">
                        <input type="hidden" value="null" th:value="${scheduleList.get(4).getMin()}" id="earthTemp2Min">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最低温度 ℃</label>
                              <input id="lowEarthTemp2" type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最高温度 ℃</label>
                              <input id="highEarthTemp2" type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- 土壤水分2 -->
                    <!--<div class="col-md-3">-->
                    <!--  <div class="form-group">-->
                    <!--    <label>土壤水分2、4平均范围: </label>-->
                    <!--    <div id="earthWater2" class="slider slider-info noUi-target noUi-ltr noUi-horizontal"></div>-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(5).getHigh()}"-->
                    <!--           id="earthWater2High">-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(5).getLow()}"-->
                    <!--           id="earthWater2Low">-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(5).getMax()}"-->
                    <!--           id="earthWater2Max">-->
                    <!--    <input type="hidden" value="null" th:value="${scheduleList.get(5).getMin()}"-->
                    <!--           id="earthWater2Min">-->
                    <!--    <div class="row">-->
                    <!--      <div class="col-md-6">-->
                    <!--        <div class="form-group">-->
                    <!--          <label>最低湿度 %</label>-->
                    <!--          <input id="lowEarthWater2" type="text" class="form-control">-->
                    <!--        </div>-->
                    <!--      </div>-->
                    <!--      <div class="col-md-6">-->
                    <!--        <div class="form-group">-->
                    <!--          <label>最高湿度 %</label>-->
                    <!--          <input id="highEarthWater2" type="text" class="form-control">-->
                    <!--        </div>-->
                    <!--      </div>-->
                    <!--    </div>-->
                    <!--  </div>-->
                    <!--</div>-->
                    <!-- 光照强度 -->
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>光照强度范围: </label>
                        <div id="Light" class="slider slider-warning noUi-target noUi-ltr noUi-horizontal"></div>
                        <input type="hidden" value="null" th:value="${scheduleList.get(6).getHigh()}" id="LightHigh">
                        <input type="hidden" value="null" th:value="${scheduleList.get(6).getLow()}" id="LightLow">
                        <input type="hidden" value="null" th:value="${scheduleList.get(6).getMax()}" id="LightMax">
                        <input type="hidden" value="null" th:value="${scheduleList.get(6).getMin()}" id="LightMin">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最低光强 Lux</label>
                              <input id="lowLight" type="text" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>最高光强 Lux</label>
                              <input id="highLight" type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>监测策略: </label>
                        <select class="form-control" th:action="@{/saveCronSelect}" id="cronConfigForm">
                          <option th:each="cron : ${cronList}" th:value="${cron.id}" th:text="${cron.note}"
                                  th:selected="${cronSelectId eq cron.id}" id="cronSelect"></option>
                        </select>

                      </div>
                    </div>
                  </div>

                  <button type="button" onclick="saveConfig()" class="btn btn-primary">保存配置</button>
                  <!--<button type="button" class="btn">恢复配置</button>-->
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../static/js/core/jquery.min.js"
        th:src="@{/js/core/jquery.min.js}"></script>
<script src="../static/js/core/popper.min.js"
        th:src="@{/js/core/popper.min.js}"></script>
<script src="../static/js/core/bootstrap-material-design.min.js"
        th:src="@{/js/core/bootstrap-material-design.min.js}"></script>
<script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"
        th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<script src="../static/js/plugins/chartist.min.js"
        th:src="@{/js/plugins/chartist.min.js}"></script>
<script src="../static/js/plugins/bootstrap-notify.js"
        th:src="@{/js/plugins/bootstrap-notify.js}"></script>
<script src="../static/js/material-dashboard.min.js?v=2.1.0"
        th:src="@{/js/material-dashboard.min.js}"></script>
<script src="../static/js/plugins/nouislider.min.js"
        th:src="@{/js/plugins/nouislider.min.js}"></script>
<script src="../static/js/plugins/wNumb.js"
        th:src="@{/js/plugins/wNumb.js}"></script>
<script src="../static/js/config.js"
        th:src="@{/js/config.js}"></script>

<script type="text/javascript" th:inline="javascript">

    var formUrl = $("#configForm");
    var cronUrl = $("#cronConfigForm")

    function saveConfig() {

        var scheduleDtoList = [];

        var lowAirTemp = document.getElementById('lowAirTemp');
        var highAirTemp = document.getElementById('highAirTemp');

        var lowAirWater = document.getElementById('lowAirWater');
        var highAirWater = document.getElementById('highAirWater');

        var lowEarthTemp1 = document.getElementById('lowEarthTemp1');
        var highEarthTemp1 = document.getElementById('highEarthTemp1');

        var lowEarthTemp2 = document.getElementById('lowEarthTemp2');
        var highEarthTemp2 = document.getElementById('highEarthTemp2');

        var lowEarthWater1 = document.getElementById('lowEarthWater1');
        var highEarthWater1 = document.getElementById('highEarthWater1');

        // var lowEarthWater2 = document.getElementById('lowEarthWater2');
        // var highEarthWater2 = document.getElementById('highEarthWater2');

        var lowLight = document.getElementById('lowLight');
        var highLight = document.getElementById('highLight');

        var scheduleDto0 = {
            "id": 1,
            "high": parseFloat(highAirTemp.value),
            "low": parseFloat(lowAirTemp.value)
        }

        var scheduleDto1 = {
            "id": 2,
            "high": parseFloat(highAirWater.value),
            "low": parseFloat(lowAirWater.value)
        }

        var scheduleDto2 = {
            "id": 3,
            "high": parseFloat(highEarthTemp1.value),
            "low": parseFloat(lowEarthTemp1.value)
        }

        var scheduleDto3 = {
            "id": 4,
            "high": parseFloat(highEarthWater1.value),
            "low": parseFloat(lowEarthWater1.value)
        }

        var scheduleDto4 = {
            "id": 5,
            "high": parseFloat(highEarthTemp2.value),
            "low": parseFloat(lowEarthTemp2.value)
        }

        var scheduleDto5 = {
            "id": 6,
            "high": parseFloat(100),
            "low": parseFloat(0)
        }

        var scheduleDto6 = {
            "id": 7,
            "high": parseFloat(highLight.value),
            "low": parseFloat(lowLight.value)
        }

        scheduleDtoList.push(scheduleDto0);
        scheduleDtoList.push(scheduleDto1);
        scheduleDtoList.push(scheduleDto2);
        scheduleDtoList.push(scheduleDto3);
        scheduleDtoList.push(scheduleDto4);
        scheduleDtoList.push(scheduleDto5);
        scheduleDtoList.push(scheduleDto6);

        var cronSelect = $("#cronConfigForm option:selected");
        var cid = cronSelect.val();

        $.ajax({
            type: "POST",
            url: cronUrl.attr('action'),
            data: JSON.stringify({cid: cid}),
            dataType: "json",
            contentType: "application/json",
        });

        $.ajax({
            type: "POST",
            url: formUrl.attr('action'),
            data: JSON.stringify(scheduleDtoList),
            success: function () {
                alert("配置保存成功！");
                window.location.reload();
            },
            dataType: "json",
            contentType: "application/json",
        })
    }
</script>

</body>

</html>